# Firebase Credentials
VITE_FIREBASE_API_KEY=AIzaSyDQ1QWmPBqt0hXx9CG57162LCqFojgx5iQ
VITE_FIREBASE_AUTH_DOMAIN=cartographj.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cartographj
VITE_FIREBASE_STORAGE_BUCKET=cartographj.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=813924540962
VITE_FIREBASE_APP_ID=1:813924540962:web:ea02bdb927db5be751607b
VITE_FIREBASE_MEASUREMENT_ID=G-EJVFFCV3XT

# Security & App Check
VITE_RECAPTCHA_SITE_KEY=

# Serverless & Integrations
CONVERTKIT_API_KEY=
CONVERTKIT_FORM_ID=
SUBSTACK_FEED_URL=https://otherpeoplesweather.substack.com/feed
